<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="VmWareService" type="AppConfigTester.VmWare.VmWareServiceConfigSection, AppConfigTester"/>
  </configSections>

  <VmWareService Url="https://esx24.dev.amust.local" User="root" Password="123qweASD"/>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>