<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHypervisorService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54731/HypervisorService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHypervisorService"
        contract="Services.IHypervisorService" name="WSHttpBinding_IHypervisorService">
        <identity>
          <userPrincipalName value="DESKTOP-N5DU0F4\wnovokrest" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>