<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VmWareConfig" type="DiskVolumesExplorer.Service.Configs.VmWare.VmWareConfigSection, DiskVolumesExplorer.Service" />
    <section name="Users" type="DiskVolumesExplorer.Service.Configs.Users.UsersConfigSection, DiskVolumesExplorer.Service" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <Users>
    <User name="user1" password="123" />
    <User name="user2" password="789" />
  </Users>

  <!--<VmWareConfig Url="https://esx24.dev.amust.local/sdk" User="root" Password="123qweASD" />-->
  <VmWareConfig Server="192.168.36.128" User="root" Password="1234567" ThumbPrint="d9:1d:22:40:c0:08:e8:cd:9f:ff:48:98:54:a8:a7:b5:93:70:28:8f"/>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DiskVolumesExplorer.Service.HypervisorService" behaviorConfiguration="HypervisorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/hypervisor" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="DiskVolumesExplorer.Service.IHypervisorService" behaviorConfiguration="restBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HypervisorServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceAuthorization serviceAuthorizationManagerType="DiskVolumesExplorer.Service.RestAuthorizationManager, DiskVolumesExplorer.Service" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>