<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHypervisor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54731/Hypervisor.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHypervisor" contract="IHypervisor"
                name="BasicHttpBinding_IHypervisor" />
        </client>
    </system.serviceModel>
</configuration>